<ion-view view-title="功能箱" class="home-funcbox-container">
  <ion-header-bar class="bar-positive" align-title="center">
    <button class="button left-logo-container" ng-click="$parent.modal.show()">
      <img class="logo" src="img/icon/itrunk_logo_big2.png" alt="logo">
    </button>
    <h1 class="title home-title title-center">四川监狱移动指挥调度系统</h1>
  </ion-header-bar>
  <ion-content class="tabs-content">
    <div class="row">
      <div class="col">
        <a href="" ng-click="showTakePhotoModal = true">
          <img src="img/icon/itrunk_take_picture.png" alt="">
          <span>拍传照片</span>
        </a>
      </div>
      <div class="col">
        <a href="" ng-click="modal.show()">
          <img src="img/icon/itrunk_video.png" alt="">
          <span>拍传视频</span>
        </a>
      </div>
      <div class="col">
        <a href="tel:">
          <img src="img/icon/itrunk_call.png" alt="">
          <span>拨打电话</span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="">
          <img src="img/icon/itrunk_rel_video.png" alt="">
          <span style="color: gray;">实时视频</span>
        </a>
      </div>
      <div class="col">
        <a href="">
          <img src="img/icon/itrunk_local_video.png" alt="">
          <span style="color: gray;">本地视频</span>
        </a>
      </div>
      <div class="col">
        <a ui-sref="localPicture">
          <img src="img/icon/itrunk_local_picture.png" alt="">
          <span style="color: gray;">本地照片</span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="">
          <img src="img/icon/itrunk_alert.png" alt="">
          <span>一键告警</span>
        </a>
      </div>
      <div class="col">
        <a href="">
          <img src="img/icon/itrunk_add_group.png" alt="">
          <span>新建群组</span>
        </a>
      </div>
      <div class="col">
        <a href="">
          <img src="img/icon/itrunk_record_upload.png" alt="">
          <span style="color: gray;">录音回传</span>
        </a>
      </div>
    </div>
  </ion-content>
  <script id="video-modal-view.html" type="text/ng-template">
    <ion-modal-view class="picture-modal-view">
      <ion-content>
        <video width="{{windowWidth}}" height="{{windowHeight}}"></video>
      </ion-content>
      <ion-footer-bar class="bar-positive">
        <div class="row">
          <button class="col button">
            <i class="icon ion-ios-loop"></i>
            <span>切换</span>
          </button>
          <div class="button take-photo-container">
            <button class="take-photo-btn"></button>
          </div>
          <button class="col button" ng-click="modal.hide()">
            <i class="icon ion-ios-undo-outline"></i><span>返 回</span>
          </button>
        </div>
      </ion-footer-bar>
      <div class="video-tips">
        <span>点击按钮发起视频推送</span>
      </div>
      <ul class="side-button-list">
        <li>
          <button class="button rotate-button" ng-click="test()">
            <i class="icon ion-ios-undo-outline"></i>
          </button>
        </li>
        <li>
          <button class="button capture-button" ng-click="modal.shareVideo()">
            <i class="icon ion-share"></i>
          </button>
        </li>
        <li>
          <button class="button capture-button"><i class="icon ion-ios-bolt"></i></button>
        </li>
        <li>
          <button class="button"><i class="icon ion-ios-camera-outline"></i></button>
        </li>
      </ul>
    </ion-modal-view>
  </script>
  <script id="video-distribute-view.html" type="text/ng-template">
    <ion-modal-view class="video-distribute-view slide-page-container">
      <ion-header-bar class="bar-positive" align-title="center">
        <button class="button button-positive" ng-click="modal.hide()">
          <i class="icon ion-arrow-left-a"></i>
        </button>
        <h1 class="title title-left">视频分享</h1>
      </ion-header-bar>
      <ion-header-bar class="bar-subheader bar-positive tab-bar">
        <div class="manage-item">
          <button class="button button-clear" ng-class="{'active': activeSlideIndex == 0}" ng-click="goSlide(0)">个人</button>
        </div>
        <div class="manage-item">
          <button class="button button-clear" ng-class="{'active': activeSlideIndex == 1}" ng-click="goSlide(1)">通话组</button>
        </div>
      </ion-header-bar>
      <ion-content scroll="false">
        <ion-slide-box active-slide="activeSlideIndex" on-slide-changed="slideHasChanged($index)" show-pager="false" delegate-handle="localPictureSlide">
          <ion-slide>
            <div class="box">
              <ion-list>
                <ion-item class="item-contact item-checkbox item-checkbox-right" ng-repeat="contact in modal.contactList" type="item-text-wrap">
                  <img ng-src="{{contact.img_url}}" on-error-src="img/icon/itrunk_user.png" src="img/icon/itrunk_user.png">
                  <h2>{{contact.display_name}}</h2>
                  <div class="checkbox">
                    <input type="checkbox" ng-model="contact.checked" />
                  </div>
              </ion-list>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="box">
              <ion-list>
                <ion-item class="item-contact item-checkbox item-checkbox-right" ng-repeat="group in modal.groupList track by $index">
                  <img src="img/icon/itrunk_group.png" />
                  <h2>{{group.tg_name}}</h2>
                  <div class="checkbox">
                    <input type="checkbox" ng-model="group.checked" />
                  </div>
                </ion-item>
              </ion-list>
            </div>
          </ion-slide>
        </ion-slide-box>
      </ion-content>
    </ion-modal-view>
  </script>
</ion-view>
