<script id="server-setting-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">My Popover Title</h1>
    </ion-header-bar>
    <ion-content>
      <div class="server-setting-container list">
        <label class="item item-input">
          Server IP
          <input type="text" ng-model="serverIp" required>
        </label>
        <label class="item item-input">
          Server Port
          <input type="text" ng-model="servePort" required>
        </label>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
